<select id="category" name"test1">
  <option value="none">---Please select---</option>
  <option value=#"skincare">Skincare</option>
  <option value="face">Face</option>
  <option value="eyes">Eyes</option>
  <option value="lips">Lips</option>
  </select>
  <br></br>
  <br></br>
  <!-- <audio controls>
    <source src="/sounds/1_person_cheering-me-8140.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio> -->
  <!-- <audio id="player" controls>
    <source type="audio/wav" src>
  </audio> -->
  <audio autoplay="autoplay" controls="controls">
  <source src="/sounds/1_person_cheering-me-8140.wav" type="audio/wav">
</audio>
