   <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; mymakeupkit inc 2016</p>
                </div>
            </div>

        </div>

    </footer>


</body>
</html>
