<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">Welcome to MyMakeUpKit!</h3>
                <p class="lead section-lead">Do you want to keep a track of all your beauty products? We help you to organize your makeup!</p>
                <p class="lead section-lead">Ready to give us a try? Click <a href="/account"> here </a> to log in or register</p>

                <!-- <div class="row">
                  <div class="col-lg-8">
                    <button type="submit" class="btn btn-default2">Log In or Register</button>
                  </div>
                </div> -->

                <!-- <button class="register" type="button" name="registerbutton">Register or Login</button> -->
                <!-- <p class="section-paragraph">We help you to organize your makeup! Ready to give us a try? </p> -->
                <!-- <img src="/images/purplepretty.jpg" alt="" />
                <img src="/images/lipsticks.jpg" alt="" />
                <img src="/images/cream.png" alt="" /> -->

                <!-- beginning of copied -->

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">



  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/purplepretty.jpg" height="100px" width="200px" alt="">
      <div class="carousel-caption">
          <!-- <h3>Pretty in Purple</h3> -->
      </div>
    </div>
    <div class="item">
      <img src="/images/lipsticks2.jpg" height="100px" width="200px" alt="">
      <div class="carousel-caption">
          <!-- <h3>Lipstick Collection</h3> -->
      </div>
    </div>
    <div class="item">
      <img src="/images/cream2.png" height="100px" width="200px" alt="">
      <div class="carousel-caption">
          <!-- <h3>Creams</h3> -->
      </div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->












<!-- end of copied code -->
            </div>
        </div>
    </div>
</section>
