<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">MyMakeUpKit!</h1>
                <p class="lead section-lead">Do you want to keep a track of all your beauty products?</p>
                <p class="section-paragraph">We help you to organize your makeup!<strong>MyMakeUpKit</strong> is here for you to see all your favorite beauty stuff! Ready to give us a try?</p>
            </div>
        </div>
    </div>
</section>
