<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>My Make-Up Kit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body>
    <header>

      <%= erb :nav %>

    </header>

      <%= yield %>

      <%= erb :footer %>

  </body>
</html>
