<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>My Make-Up Kit</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body>
    <header>

      <%= erb :nav %>
      
    </header>

      <%= yield %>

      <%= erb :footer %>

  </body>
</html>
