<!-- <nav class="navbar navbar-inverse" role="navigation">
  navbar-fixed-top -->
        <!-- <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav> -->

<div class="container">
  <div class="row" id="top-bar">
				<div class="span8 logo">
          <div class="column-8">


                    <a href="/"><img alt="" src="/images/lips.png" height="100px" width="200px"></a>
                    <p>MyMakeUpKit</p>
				</div>
			</div>
        </div>


      <!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Home</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Account</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">LogOut</button>
  </div>
</div> -->

    <div class="row">
      <div class="column-12">
        <div class="navbar navbar-inverse" id="main-menu">

                <ul class="nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/account">Account</a></li>
                  <li><a href="/logout">Logout</a></li>
                 </ul>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
</div>
