<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">404 - Not Found</h1>
                <p class="section-paragraph">
                  <img src="" alt="" />
                </p>
            </div>
        </div>
    </div>
</section>
<!-- find not found image -->
