/*#bs-example-navbar-collapse-1 {
  display: inline;
}*/
li {
  text-align: right;
  font-size: 25px;
}

h1 {
  text-align: center;
  color: purple;
}

h3 {
  margin-top: 5px;
  text-align: center;
}

img {
  position: relative;
  margin-left: 500px;
  margin-top: 40px;
}

#main-menu {
  background-color: purple;
}

#makeupSet {
  margin-top: 20px;
  position: relative;
  margin-left: 80px;
}

#form {
  margin-left: 25%;
   margin-right:25%;
   width: 100%;
}
.form-horizontal{
  margin: 0 auto;
  width: 75%;
}
#category{
  width: 75%;
}
.nav li {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
  margin-left: 200px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #B19CD9;
}


p {
  text-align: center;
  font-size: 25px;
}

.btn-group-justified {
  background-color: purple;
}

.register {
  margin: auto 0;
  float: left;
}

.btn-default {
  background-color: #B19CD9;
}

#ourImage {
  height: 150px;
  width: 150px;
}

button a {
  color: white;
}
/*.btn-default2 {
  background-color: #B19CD9;
  position: relative;
  margin-left: 500px;
  margin-bottom: 10px;
}*/
